@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem 0;
  font-size: 1.6rem;
  background: linear-gradient(to right, #008080, #071b52);
}
